* {
  padding: 0;
  margin: 0;
}

body {
  background: whitesmoke;
}

.App {
  text-align: center;
}

header {
  box-shadow: 2px 0 5px #c8c8c8;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 15px;
}
header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
header button {
  padding: 6px 10px;
  border: 1px solid #1A9BEF;
  border-radius: 4px;
  background: none;
  color: #1A9BEF;
}

/* HOME */
.content-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.content-container .logout-btn {
  position: absolute;
  top: -75px;
  right: -80px;
  padding: 10px 15px;
  opacity: 0.6;
  border-radius: 10px;
  border: 1px solid #1A9BEF;
  color: #1A9BEF;
  background: none;
}
.content-container .logout-btn:hover {
  opacity: 1;
}
.content-container h2 {
  font-size: 30px;
  text-align: left;
  margin: 20px 10px;
}

.tweet-card {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
  box-shadow: 0 2px 5px #e6e6e6;
  background-color: white;
  position: relative;
}
.tweet-card .tweet-card-info {
  display: flex;
  align-items: center;
}
.tweet-card .tweet-card-info p {
  font-weight: bold;
  margin-left: 10px;
}
.tweet-card .tweet-card-info p a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.tweet-card img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.tweet-card .tweet-message {
  margin: 10px;
  font-size: 20px;
}
.tweet-card .delete-tweet-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 4px;
  padding: 5px 10px;
  color: red;
  background: none;
}

.tweet-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.tweet-input input[type=text] {
  padding: 12px 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  flex-grow: 3;
}
.tweet-input input[type=submit] {
  background-color: #1A9BEF;
  color: white;
  padding: 13px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  flex-grow: 1;
  cursor: pointer;
}

/* TWEET INPUT */
.error-message {
  background-color: #ffface;
  border: 1px solid #e0d586;
  border-radius: 4px;
  color: #e0d586;
  padding: 10px;
}

/* USER TWEETS */
.user-container {
  display: flex;
}
.user-container .user-info {
  border: 1px solid whitesmoke;
  border-radius: 8px;
  margin: 0 10px;
  padding: 5px;
  width: 30%;
  align-self: start;
  background: white;
}
.user-container .user-info img {
  width: 100%;
  border-radius: 4px;
}
.user-container .user-info p {
  margin: 10px 0;
}
.user-container .user-tweets {
  flex-grow: 1;
}

.login-form {
  width: 80%;
  margin: 100px auto;
}
.login-form label {
  display: flex;
  align-items: center;
}
.login-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.login-form input[type=submit] {
  width: 100%;
  background-color: #1A9BEF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.login-form input[type=submit]:hover {
  background-color: #1A9BEF;
}
.login-form div {
  border-radius: 5px;
  padding: 10px;
}

/*# sourceMappingURL=index.css.map */
